/** HEADER **/

#header-nav {
    background-color: lightblue;
    border-radius: 0;
    border: 0;
}
.navbar-header a {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 30px;
}
.navbar-header a:hover, .navbar-header a:focus {
    text-decoration: none;
}
button.navbar-toggle {
    clear: both;
    margin-top: -50px;
    position: relative;
}
.collapse, .navbar-collapse{
    position: absolute;
    width: 100%;
}
#collapsable-nav ul{
    background-color: azure;
    margin-top: -1px;
    text-align: center;
}
#collapsable-nav a span {
    margin-right: 5px;
}
.row {
    background-color: azure;
}
.row h4 {
    color: red;
    text-align: center;
}
.row p {
    padding: 100px 0;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {
      /* Header */
    .row {
        margin: 20px;
    }
    /* End Header */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-header a {
    margin-left: 35px;
  }
  .row {
    margin: 20px;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
      /* Header */
    .navbar-header a {
        margin-left: 40px;
    }
    .row {
        margin: 60px;
    }
    /* End Header */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-header a {
    margin-left: 40px;
  }
  .row {
      margin: 30px;
  }
} 
  /* End Header */